@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 450px; /* Limits width on laptops */
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  /* font-family: "Kantumruy Pro", sans-serif; */
}

.profile-pic {
  width: 120px;
  height: 120px;
  /* background: #fff; */
  border-radius: 50%;
  margin: 0 auto 15;
  margin: 0 auto 15px;
  object-fit: cover;
}

h1 {
  color: white;
  margin-bottom: 5px;
  font-family: "Kantumruy Pro", sans-serif;
}
p {
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-family: "Kantumruy Pro", sans-serif;
}

/* The Links */
.link-card {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-weight: 600;
  font-family: "Kantumruy Pro", sans-serif;
  transition:
    transform 0.2s,
    background 0.2s;
}

.link-card:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.2);
}

.link-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* Tablet/Laptop specific adjustments */
@media (min-width: 768px) {
  .container {
    max-width: 500px;
  }
}
